<%- include('../partials/header.ejs') %>

<h1>Sign Up!</h1>

<form action="/auth/sign-up" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" id="firstName" required />

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" id="lastName" required />

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required />

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required />

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" required />

  <button type="submit">SIGN UP</button>
</form>

<% if (error) { %>
  <p class="error-msg"><%= error %></p>
<% } %>

<%- include('../partials/footer.ejs') %>
