  </main>
<footer>
  Tim Lawler &copy;2025 
  <a href="https://www.veteranscrisisline.net/" target="_blank" rel="noopener noreferrer" class="footer-btn">
    Veteran Crisis Line – Get Help Now
  </a> 
  <a href="https://988lifeline.org/" target="_blank" rel="noopener noreferrer" class="footer-btn">
      Suicide Prevention Lifeline
  </a>
  <a href="https://projectchildsafe.org/" target="_blank" rel="noopener noreferrer" class="footer-btn">
      Firearm Storage Safety
  </a>
  <a href="https://home.nra.org/" target="_blank" rel="noopener noreferrer" class="footer-btn">
      NRA (National Rifle Assoc.)
  </a>
  <a href="https://gunowners.org/" target="_blank" rel="noopener noreferrer" class="footer-btn">
      Gun Owners of America
  </a>
  
</footer>