<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Express Starter</title>
</head>
<body>
  <nav>
    <a href="/">🏠</a>
    <div>
      <a href="/unicorns">ALL UNICORNS</a>
      <% if (user) { %>
        <a href="/unicorns/new">ADD UNICORN</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span><%= user.name %></span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  <main>
